@{
    ViewData["Title"] = "Lista Studenti";
}

<h1>Lista degli Studenti</h1>

<div id="ListContainer" class="container"></div>

<div id="studentModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let container = document.getElementById("ListContainer");

            if(container) {
                const response = fetch("students/GetAllStudents", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error("Errore nella richiesta");
                    }
                    return response.text();
                })
                .then(data => {
                    container.innerHTML = data;

                    new DataTable('#StudentsTable')
                });

            }
        })

        async function showDetailsModal(id) {
            let response = await fetch(`students/GetStudentDetails/${id}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            if(!response.ok) {
                throw new Error("Errore nella richiesta");
            }
            let data = await response.json();
            modalDeets(data);
        }

        function modalDeets(details) {
            let modal = new bootstrap.Modal(document.getElementById("studentModal"));

            let title = document.getElementById("modalTitle");
            let body = document.getElementById("modalBody");

            title.innerHTML = `<strong>Studente:</strong> ${details.nome} ${details.cognome}` ;
            body.innerHTML = `<strong>Data di Nascita:</strong> ${details.dataDiNascita} <br />
                            <strong>Email:</strong> ${details.email}`;

            modal.show();
        }
    </script>
}